<!-- templates/properties/property_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ property_type }} Properties | realtor.com®{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ property_type }} Properties</h1>
    <div class="grid-container">
        {% for property in properties %}
        <div class="card">
            <img src="{{ property.image.url }}" alt="{{ property.name }}">
            <div class="card-title">{{ property.name }}</div>
            <div class="count-badge">${{ property.price }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}